<h1>Sistema</h1>
<h3>Cadastrar</h3>

<p><%= link_to "Novo Aluno", :action => :new %>
<p><%= link_to "Novo curso", :action => :new %>
<p><%= link_to "Nova disciplina", :action => :new %>
<p><%= link_to "Novo Professor", :action => :new %>

<ul>
    <% @alunos.each do |aluno| %>
        <li>
            <%# Aqui temos vários link_to para os links de abrir, editar
                e excluir o aluno. %>
            <%= link_to aluno.nome, aluno %>: <%= aluno.email %>
            [<%= link_to "Alterar", edit_aluno_path(aluno) %>]
            [<%= link_to "Excluir",
                aluno_path(aluno),
                data: {
                    turbo_method: :delete,
                    turbo_confirm: "Tem certeza?"
                } %>]
        </li>
    <% end %>
</ul>
